.comment {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.comment p {
  margin-right: 5px;
}

.comment-username {
  font-weight: bold;
}

.comment-input {
  width: 92%;
  border: none;
}

.post-button {
  background-color: white;
  border: none;
  color: #cce6ff;
}
